<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/img/CLS.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>Leandro Lopes</title>
</head>
<body>
    
  <i class="bi bi-list menu-mobile"></i>

  <aside id="header">
    <section class="profile">
      <img src="../static/img/Perfil.png" alt="Foto de perfil Leandro Lopes">
      <h1>Leandro Lopes</h1>
      <div class="social-links mt-4 text-center">
        <a target="_blank" href="https://www.linkedin.com/in/leandro-campos-lopes/">
          <i class="bi bi-linkedin"></i>

        </a>
        <a  target="_blank" href="https://github.com/Leandrocls">
          <i class="bi bi-github"></i>

        </a>
        <a target="_blank" href="https://www.instagram.com/leandrocls/">
          <i class="bi bi-instagram"></i>

        </a>
        <a target="_blank" href="https://twitter.com/Leandro_cls">
          <i class="bi bi-twitter"></i>

        </a>
      </div>
    </section>

    <nav id="navbar" class="nav-menu">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-house"></i> Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sobre"><i class="bi bi-person" aria-hidden="true"></i> Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#habilidades"><i class="bi bi-list-check" aria-hidden="true"></i> Habilidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark" aria-hidden="true"></i> Currículo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portifolio"><i class="bi bi-collection" aria-hidden="true"></i> Portifólio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contato"><i class="bi bi-envelope" aria-hidden="true"></i> Contato</a>
        </li>
      </ul>
    </nav>
  </aside>

  <main id="main">

    <section id="inicio" class="row m-0 p-0">
        <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
            <h2 class="text-white text-shadow">Leandro Lopes </h2>
            <span id="subtitle" class="text-white text-shadow">Desenvolvedor Front-End</span>
        </div>

        <div class="col-md-7 d-flex justify-content-end align-items-end">
            <div id="arraste" class="d-flex align-items-center">
                <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                <a href="#sobre">Arrate para mais</a>
            </div>

        </div>

    </section>

    <section class="container mt-5" id='sobre'>
        <div class="row w-100">
            <div class="col-md-12" data-anime="down">
                <h2 class='pt-3'>Sobre</h2>
                <p>Eu sou Leandro Campos Lopes da Silva, Sou Graduando em Análise e Desenvolvimento de Sistemas e estou em transição de carreira para area de desenvolvimento web.

                    Possui habilidades para atuar como front-end no Desenvolvimento, codificação e prototipação de sites e portais voltados para o ambiente web | Execução da manutenção dos sistemas, fazendo eventuais correções necessárias, atendendo às necessidades e visando solucionar problemas reais das pessoas com inovação e criatividade. Amo o que faço, essa é minha vocação, influenciar e motivar pessoas!</p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-4">
                <img class="img-fluid shadow" src="../static/img/Perfil.png" alt="Foto de perfil Leandro Lopes" data-anime="left">
            </div>
            <div class="col-md-8" data-anime="right">
                <h3>Desenvolvedor Front-End</h3>
                <p>Possuo carreira desenvolvida na area de operações em shopping, operacionalizando os processos da organização, participando da elaboração dos planos operacionais, colaborando com informações e sugestões, e supervisionando equipes de serviços. Atualmete em transição de carreira para a area de desenvolvimento web voltada para o front-end.</p>

                <div class="row mt-3 mb-3">
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush fs-5">
                            <li class="list-group-item">
                                Niver: <span class="fw-lighter">28 de Janeiro de
                                    1995</span>
                            </li>
                            <li class="list-group-item">
                                Idade: <span class="fw-lighter">27 anos</span>
                            </li>
                            <li class="list-group-item">
                                Cidade: <span class="fw-lighter">Jaboatão dos Guararapes</span>
                            </li>
                            <li class="list-group-item">
                                Estado: <span class="fw-lighter">Pernambuco</span>
                            </li>

                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush fs-5">
                            <li class="list-group-item">Hobby: <span class="fw-lighter">Corrida</span></li>
                            <li class="list-group-item">Github: <a href="https://github.com/Leandrocls" target="_blank"
                                    class="fw-lighter text-decoration-none link-dark">Leandrocls</a></li>
                            <li class="list-group-item">Trabalho: <a href=""
                                    target="_blank" class="fw-lighter text-decoration-none link-dark">Freelancer</a></li>
                            <li class="list-group-item">Experiência: <span class="fw-lighter"> +5
                                    anos</span></li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="mt-5 section-bg" id="habilidades">

        <div class="container pb-5">
            <h2 class='pt-5'>Habilidades</h2>
            <p>Em minha transição de carreira como profissional de tecnologia eu adquiri algumas habilidades técnicas e não técnicas,
                a maioria delas estão aqui, de acordo com a porcentagem de conhecimento que eu acredito ter em cada
                uma delas.</p>

            <div class="row">
                <div class="col-md-6">
                    <p class='mt-3 mb-0'>HTML</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95"
                            data-anime="left" aria-valuemin="0" aria-valuemax="100">85%</div>
                    </div>
                    <p class="mt-3 mb-0">CSS</p>
                    <div class="progress">
                        <div class="progress-bar" data-anime="left" role="progressbar" style="width: 85%;"
                            aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">80%</div>
                    </div>
                    <p class="mt-3 mb-0">JavaScript</p>
                    <div class="progress">
                        <div class="progress-bar" data-anime="left" role="progressbar" style="width: 80%;"
                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">70%</div>
                    </div>
                    <p class="mt-3 mb-0">Python</p>
                    <div class="progress">
                        <div class="progress-bar" data-anime="left" role="progressbar" style="width: 70%;"
                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">50%</div>
                    </div>
                    <p class="mt-3 mb-0">Typescript</p>
                    <div class="progress">
                        <div class="progress-bar" data-anime="left" role="progressbar" style="width: 70%;"
                            aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">50%</div>
                    </div>
                    <p class="mt-3 mb-0">Git</p>
                    <div class="progress">
                        <div class="progress-bar" data-anime="left" role="progressbar" style="width: 80%;"
                            aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">75%</div>
                    </div>
                    <p class="mt-3 mb-0">Deploy</p>
                    <div class="progress mb-3">
                        <div class="progress-bar" data-anime="left" role="progressbar" style="width: 70%;"
                            aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">50%</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="mt-3 mb-0">Adobe XD</p>
                    <div class="progress">
                        <div class="progress-bar" data-anime="left" role="progressbar" style="width: 80%;"
                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">75%</div>
                    </div>
                    <p class="mt-3 mb-0">ReactJs</p>
                    <div class="progress">
                        <div class="progress-bar" data-anime="left" role="progressbar" style="width: 70%;"
                            aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">50%</div>
                    </div>
                    <p class="mt-3 mb-0">NodeJs</p>
                    <div class="progress">
                        <div class="progress-bar" data-anime="left" role="progressbar" style="width: 70%;"
                            aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">70%</div>
                    </div>
                    <p class="mt-3 mb-0">Figma</p>
                    <div class="progress">
                        <div class="progress-bar" data-anime="left" role="progressbar" style="width: 80%;"
                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">75%</div>
                    </div>
                    <p class="mt-3 mb-0">Bootstrap</p>
                    <div class="progress">
                        <div class="progress-bar" data-anime="left" role="progressbar" style="width: 70%;"
                            aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                    </div>
                    <p class="mt-3 mb-0">SQL</p>
                    <div class="progress">
                        <div class="progress-bar" data-anime="left" role="progressbar" style="width: 90%;"
                            aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">50%</div>
                    </div>
                    <p class="mt-3 mb-0">NoSQL</p>
                    <div class="progress mb-3">
                        <div class="progress-bar" data-anime="left" role="progressbar" style="width: 75%;"
                            aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">50%</div>
                    </div>
                </div>
            </div>

            <hr class='w-50 me-auto ms-auto'>

            <div class="row">
                <div class="col-md-6">
                    <p class="mt-3 mb-0">Trabalho em equipe</p>
                    <div class="progress">
                        <div class="progress-bar" data-anime="left" role="progressbar" style="width: 95%;"
                            aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                    </div>

                    <p class="mt-3 mb-0">Proatividade</p>
                    <div class="progress">
                        <div class="progress-bar" data-anime="left" role="progressbar" style="width: 98%;"
                            aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">98%</div>
                    </div>

                    <p class="mt-3 mb-0">Orientação a detalhes</p>
                    <div class="progress">
                        <div class="progress-bar" data-anime="left" role="progressbar" style="width: 85%;"
                            aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="mt-3 mb-0">Comunicação</p>
                    <div class="progress">
                        <div class="progress-bar" data-anime="left" role="progressbar" style="width: 95%;"
                            aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                    </div>

                    <p class="mt-3 mb-0">Empatia</p>
                    <div class="progress">
                        <div class="progress-bar" data-anime="left" role="progressbar" style="width: 85%;"
                            aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                    </div>

                    <p class="mt-3 mb-0">Comprometimento</p>
                    <div class="progress">
                        <div class="progress-bar" data-anime="left" role="progressbar" style="width: 98%;"
                            aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">98%</div>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <section class="mt-5 cv" id="curriculo">

        <div class="container pb-5">
            <h2 class="pt-3 pb-4">Currículo</h2>

            <div class="row">
                <div class="col-md-6">
                    <h3 class="cv-title">Educação</h3>

                    <div class='cv-item' data-anime="up">
                        <h4>Analise e Desenvolvimento de sistemas</h4>
                        <h5>2022 - 2024</h5>
                        <p><em>Universidade Estacio de Sá</em></p>
                        <p>Cursando</p>
                    </div>

                    <div class='cv-item' data-anime="up">
                        <h4>Curso Git e Github</h4>
                        <h5>2022 - 2022</h5>
                        <p><em>Udemy</em></p>
                        <p>Assuntos abordados de toda estrutura de codigo de versionamento do Git e hospedagem em repositorio remoto como o Github </p>
                    </div>

                    <div class='cv-item' data-anime="up">
                        <h4>Projetos ágeis com SCRUM</h4>
                        <h5>2022 - 2022</h5>
                        <p><em>Digital Innovation One Inc.</em></p>
                        <p>Curso voltado ao aprendizado de metodologias ageis como o Scrum.</p>
                    </div>
                    <div class='cv-item' data-anime="up">
                        <h4>Introdução a Ciência de Dados 3.0</h4>
                        <h5>2022 - 2022</h5>
                        <p><em>Data Science Academy</em></p>
                        <p>Curso voltado a analise basica de dados e seus componentes.</p>
                    </div>
                    <div class='cv-item' data-anime="up">
                        <h4>Lei Geral de Proteção de Dados - LGPD</h4>
                        <h5>2022 - 2022</h5>
                        <p><em>Fundação Bradesco</em></p>
                        <p>Curso voltado a nova lei de proteção de dados</p>
                    </div>
                    <div class='cv-item' data-anime="up">
                        <h4>Algoritmo</h4>
                        <h5>2022 - 2022</h5>
                        <p><em>Curso em video</em></p>
                        <p>Curso introdutorio a algoritmos e ferramentas</p>
                    </div>

                </div>
                <div class="col-md-6">
                    <h3 class="cv-title">Profissional</h3>

                    <div class='cv-item' data-anime="up">
                        <h4>Supervisor de Entregas e 
                        Serviços</h4>
                        <h5>2021 - 2022</h5>
                        <p><em>RioMar Recife</em></p>
                        <p>Atuando com o desenvolvimento de pessoas através da gestão de uma equipe de 14 auxiliares de serviços diversos, realizando atividades como elaboração de escalas de serviços, gerenciando o fluxo de trabalho, atuando com o treinamento de novos contratados, criando e gerenciando o cronograma da equipe implementando o sistema Kanban através da ferramenta do trello, avaliando o desempenho e fornecer feedback, participando da elaboração dos planos operacionais e identificando e aplicando oportunidades de avanço na carreira.</p>
                    </div>

                    <div class='cv-item' data-anime="up">
                        <h4>Encarregado de Estacionamento</h4>
                        <h5>2019 - 2020</h5>
                        <p><em>RioMar Recife</em></p>
                        <p>Atuando com o desenvolvimento de pessoas através da gestão de uma equipe de 60 pessoas dividas entre orientadores de trafego, operadores de caixa, manobristas, fiscais de caixa, fiscais de trafego e assistentes técnicos , realizando atividades como elaboração de escalas de serviços, gerenciando o fluxo de trabalho, atuando com o treinamento de novos contratados, criando e gerenciando o cronograma da equipe, avaliando o desempenho e fornecendo feedback, participando da elaboração dos planos operacionais e identificando e aplicando oportunidades de avanço na carreira. </p>
                    </div>

                    <div class='cv-item' data-anime="up">
                        <h4>Assistente de Operações</h4>
                        <h5>2017 - 2019</h5>
                        <p><em>RioMar Recife</em></p>
                        <p>realizando analise de ocorrências de sinistro no setor e elaborando levantamento de indicadores de fluxo e desempenho do setor através de ferramentas com Excel. Atuando na gestão e elaboração de manutenção preventivas dos equipamentos de entradas e saídas (nepos) e veículos de transportes. Atuante no planejamento e elaboração junto com a coordenação da área em operações para grande fluxo de veículos em datas sazonais e eventos. Realizando a gestão de estoque do setor (Materiais, fardamentos, EPI´s e equipamentos. Atuando no relacionamento com fornecedores elaborando cotações e encaminhamento a gerencia de operações..</p>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section id="portfolio" class="section-bg mt-5">
        <div class="container pb-5 pt-5" data-anime="left">

            <h2 class="pb-4">Portfólio</h2>

            <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">

                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5 class="card-title">Em construção</h5>
                                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure alias eveniet facilis maxime minus, ipsa, unde dolor odio asperiores sequi esse voluptatem aperiam quam deleniti corrupti voluptatum. Sed, deleniti odit.</p>
                                        <div class="d-flex justify-content-center">
                                            <a href="#"
                                                target='_blank' class="btn btn-outline-dark me-3"><i
                                                    class="bi bi-github"></i></a>
                                            <a href="#" target='_blank'
                                                class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5 class="card-title">Em construção</h5>
                                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure alias eveniet facilis maxime minus, ipsa, unde dolor odio asperiores sequi esse voluptatem aperiam quam deleniti corrupti voluptatum. Sed, deleniti odit.</p>
                                        <div class="d-flex justify-content-center">
                                            <a href="#"
                                                target='_blank' class="btn btn-outline-dark me-3"><i
                                                    class="bi bi-github"></i></a>
                                            <a href="#" target='_blank'
                                                class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5 class="card-title">Em construção</h5>
                                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure alias eveniet facilis maxime minus, ipsa, unde dolor odio asperiores sequi esse voluptatem aperiam quam deleniti corrupti voluptatum. Sed, deleniti odit.</p>
                                        <div class="d-flex justify-content-center">
                                            <a href="#" target='_blank'
                                                class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                            <a href="#" target='_blank'
                                                class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="carousel-item" data-bs-interval="2000">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                                <div class="card h-100">
                                    
                                    <div class="card-body">
                                        <h5 class="card-title">Em construção</h5>
                                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure alias eveniet facilis maxime minus, ipsa, unde dolor odio asperiores sequi esse voluptatem aperiam quam deleniti corrupti voluptatum. Sed, deleniti odit.</p>
                                        <div class="d-flex justify-content-center">
                                            <a href="#" target='_blank'
                                                class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                            <a href="#" target='_blank'
                                                class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card h-100">
                                    
                                    <div class="card-body">
                                        <h5 class="card-title">Em construção</h5>
                                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure alias eveniet facilis maxime minus, ipsa, unde dolor odio asperiores sequi esse voluptatem aperiam quam deleniti corrupti voluptatum. Sed, deleniti odit.</p>
                                        <div class="d-flex justify-content-center">
                                            <a href="#"
                                                target='_blank' class="btn btn-outline-dark me-3"><i
                                                    class="bi bi-github"></i></a>
                                            <a href="#" target='_blank'
                                                class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card h-100">
                                    
                                    <div class="card-body">
                                        <h5 class="card-title">Em construção</h5>
                                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure alias eveniet facilis maxime minus, ipsa, unde dolor odio asperiores sequi esse voluptatem aperiam quam deleniti corrupti voluptatum. Sed, deleniti odit.</p>
                                        <div class="d-flex justify-content-center">
                                            <a href="#" target='_blank'
                                                class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                            <a href="#" target='_blank'
                                                class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
    </section>

    <section class="pt-5 pb-5" id="contato">

        <div class="container mb-5">
            <h2 class='pt-3 pb-3'>Contato</h2>

            <div class="row">

                <div class="col-md-5">
                    <div class="card p-5 shadow border-0" data-anime="up">
                        <div class="endereco">
                            <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                            <p>Jaboatão Dos Guararapes, PE</p>
                        </div>

                        <div class="email">
                            <h4><i class="bi bi-envelope"></i> Email:</h4>
                            <p>leandro.cls18@gmail.com</p>
                        </div>

                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3948.7592360573162!2d-34.94158778619987!3d-8.226949794079667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7aae6b0056f56bd%3A0xdd008926f75a15fe!2sR.%20da%20Paz%20-%20Barra%20de%20Jangada%2C%20Jaboat%C3%A3o%20dos%20Guararapes%20-%20PE!5e0!3m2!1spt-BR!2sbr!4v1652298297809!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade""
                            width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                            class='w-100'></iframe>
                    </div>
                </div>

                <div class="col-md-7 mt-5 mt-md-0">
                    <div class="card p-5 h-100 shadow border-0" data-anime="left">

                        <form class="row g-3" action='/send' method="POST">
                            <div class="col-md-6">
                                <label for="nome" class="form-label">Nome:</label>
                                <input type="text" class="form-control" id="nome" name='nome'
                                    placeholder='Digite seu nome' required>
                            </div>
                            <div class="col-md-6">
                                <label for="email" class="form-label">Email:</label>
                                <input type="email" class="form-control" id="email" name='email'
                                    placeholder='Digite seu email' required>
                            </div>

                            <div class="col-12">
                                <label for="mensagem" class="form-label">Mensagem:</label>
                                <textarea type="text" class="form-control" id="mensagem" name='mensagem' rows="10"
                                    placeholder="Digite sua mensagem" required></textarea>
                            </div>


                            <div class="col-12 d-flex justify-content-center mt-4">
                                <button id='btn-enviar' type="submit" class="btn btn-primary">Enviar
                                    mensagem</button>

                                <button id='btn-enviar-loader' class="btn btn-primary" type="button" disabled>
                                    <span class="spinner-border spinner-border-sm" role="status"
                                        aria-hidden="true"></span>
                                    Enviando...
                                </button>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>

    </section>


    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check-circle-fill"></i> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

</main>

<footer id="footer">
    <div class="container">
        <div class="text-center">
            &copy; Copyright <strong>Leandro Lopes</strong>
        </div>
    </div>
</footer>

  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/script.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>  
</body>
</html>